body {
margin: 0;
padding: 0;
font-family: sans-serif;
}

.login-box {
    width: 320px;
    height: 420px;
    background: #001f3f;
    color: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px
}

.login-box h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 20px;


}

.login-box label {
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;

}

.login-box input {
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    font-size: 18px;
    border-radius: 20px;
    
}

.login-box a {
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: darkgray;
}

.header {
    background-color: #001f3f;
    color: #fff;
    text-align: center;
    font-family:sans-serif;
    padding: 20px;
    font-size: 20px;
}