body {
  height: auto;
}

form .form-icons {
    text-align: center;
  }
  
  form .form-icons h4 {
    margin-bottom: 1rem;
  }
  
  form .form-icons .input-group-label {
    background-color: #1779ba;
    border-color: #1779ba;
  }
  
  form .form-icons .input-group-field {
    border-color: #1779ba;
  }
  
  form .form-icons .fa {
    color: white;
    width: 1rem;
  }

 

  #login-panel{
      border: 3px solid;
      padding: 5%;
      margin: 10%;
      top: 0;
  }

  footer{
      height: 50px;
      background-color: #222;
      position: fixed;
      bottom: 0;
      width: 100%;
      color: white;
     
  }

  
  .title-bar-center {
    margin-left: auto;
    margin-right: auto;
  }
  
  .title-bar {
    width: 100%;
    height: 3em;
    margin: 0;
    text-align: center;
  }

  .title-bar-center {
    height: auto;
    margin: 0;
    padding: 0;
    display: inline-block;
  }

    #panels{
      border: 3px solid;
  }