
  .title-bar-center {
    margin-left: auto;
    margin-right: auto;
  }
  
  .title-bar {
    width: 100%;
    height: 3em;
    margin: 0;
    text-align: center;
  }

  .title-bar-center {
    height: auto;
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  .panel{
      border: 3px solid;
      color: #B10000
  }

  iframe{
    margin: 20px;
    
  }
  .callout{
    background-color:#B10000;
  }
  .row{
    background-color: #C7C7C7;
    
  }
  .button{
    background-color: #0036DC;
  }
  .body {
    font-family: Garamond, serif;
    color: #B10000;
  }
  h3{
    font-family: Garamond, serif;
    color: #252B3D;
    font-weight: 700;
  }
  label{
    font-weight: 600;
  }
  legend{
    font-weight: 600;
    color: #252B3D;
  }